# Neural Structured Learning Bazel configuration.
#
# See https://docs.bazel.build/versions/master/user-manual.html#config for
# details on the various configuration options.

# Build with optimization enabled.
build --compilation_mode=opt

# Processor native optimizations (depends on build host capabilities).
build --copt=-march=native
build --host_copt=-march=native
build --copt=-O3
build --experimental_repo_remote_exec

build --cxxopt=-std=c++14
build --cxxopt=-D_GLIBCXX_USE_CXX11_ABI=0
build --host_cxxopt=-std=c++14

build --action_env=PYTHON_BIN_PATH=/usr/bin/python3
build --repo_env=PYTHON_BIN_PATH=/usr/bin/python3
build --python_path=/usr/bin/python3